
.vs/Zelda/v15/.suo
.vs/Zelda/v15/Browse.VC.db
.vs/Zelda/v15/ipch/AutoPCH/b3103f0f78417968/ZELDA.ipch
.vs/Zelda/v15/ipch/AutoPCH/c5397de0572a9231/ZELDA.ipch
.vs/Zelda/v15/ipch/AutoPCH/d5fc00184443c948/ZELDA.ipch
